<ion-modal-view class="animated fadeIn full-image">

  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Preview</h1>
    <button class="button button-clear button-primary" ng-click="closeImageModal()">Close</button>
  </ion-header-bar>
  <ion-content class="padding" scroll="false">

    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1"
                scrollbar-x="false" scrollbar-y="false">
      <img ng-src="{{zoomImage}}">
    </ion-scroll>
</ion-modal-view>
