<ion-view view-title="" class="page" swipe-gesture>
    <div class="bar bar-subheader bar-greeny">
        <h2 class="title">{{topicHeading}}</h2>
    </div>

    <ion-nav-view name="subContent"></ion-nav-view>

    <button class="button button-clear button-icon position-left ion-ios-arrow-back" ng-click="moveLeft()"></button>
    <button class="button button-clear button-icon position-right ion-ios-arrow-forward" ng-click="moveRight()"></button>

    <div class="my-footer" ng-include="'js/common/templates/footer.html'">
    </div>
</ion-view>