<ion-modal-view class="popupModal animated fadeIn">
    <ion-content has-bouncing="false" scroll="false">
        <ul class="list">
            <li class="item item-icon-left" ng-click="openFromPopup('about')">
                <i class="icon"><img ng-src="img/popup-icons/about.png"></i>
                About NSC
            </li>
            <li class="item item-icon-left" ng-click="openFromPopup('disclaimer')">
                <i class="icon"><img ng-src="img/popup-icons/disclaimer.png"></i>
                Terms of Use
            </li>
            <li class="item item-icon-left" ng-click="openVerticalHelpModal()">
                <i class="icon"><img ng-src="img/popup-icons/help.png"></i>
                Help
            </li>
        </ul>
    </ion-content>
    </div>
</ion-modal-view>
