<ion-view view-title="" hide-back-button="true">
    <ion-content scroll="false"  class="has-footer">
        <div class="f-box">
            <div class="f-box-child" ng-repeat="tile in tiles" ng-click="openPage(tile) ">
                <h1>
                    <img ng-src="img/home_tile_icon.png">
                    <img ng-src="img/home_tile_icon_selected.png" class="selected">
                    <span>{{tile.title}}</span>
                </h1>
            </div>
        </div>
    </ion-content>
    <div class="my-footer" ng-include="'js/common/templates/footer.html'">
    </div>
</ion-view>
